html {
    font-family:  PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif;
}
body {
    min-width: 1116px;
    line-height: 24px;
    font-size: 16px;
    background: #f5f6f7;
}
*, :after, :before {
    box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.clearfix {
	*zoom:1;
}
img[src=""],
img:not([src]) {
    opacity:0;
}